<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur Toukan</title>
</head>
<body>
    <h1>Confirmation de rétractation</h1>
    <p>Bonjour, nous avons le regret de vous confirmer la prise en compte de l'annulation de votre abonnement</p>
    <p>Votre abonnement restera actif jusqu'au prochain jour de facturation</p>
</body>
</html>