<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur Toukan</title>
</head>
<body>
    <h1>Changement de plan</h1>
    <p>Bonjour, nous avons bien reçu votre changement de plan</p>
</body>
</html>