{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-toukan font-bold font-toukan text-3xl text-center">Toukan</h1>
    <h1 class="text-toukan-dark font-bold font-toukan text-3xl text-center">Toukan</h1>
{% endblock %}
