{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-toukan text-center">Toukan</h1>
    <p class="text-base-app">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eius excepturi impedit laboriosam magni officia provident quaerat quos, temporibus! Ad aperiam beatae fuga necessitatibus nemo obcaecati odio possimus ratione veniam.</p>
    <p class="text-base-back">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eius excepturi impedit laboriosam magni officia provident quaerat quos, temporibus! Ad aperiam beatae fuga necessitatibus nemo obcaecati odio possimus ratione veniam.</p>
{% endblock %}


