{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}

    <div id="waiting-pos">

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            getPosition()

            setInterval(function () {
                getPosition()
            }, 5000)
        })

        const getPosition = () => {
            let page = `{{ path('client_order_confirm_update', {'establishment':establishment.id, 'table':table.id, 'order':order.id}) }}`

            fetch(page).then(function (response) {
                return response.text()
            }).then(function (data) {
                document.getElementById('waiting-pos').innerHTML = data
            })
        }
    </script>
{% endblock %}

