{% extends 'establishment/base.html.twig' %}

{% block title %}En direct{% endblock %}

{% block body %}

    <div class="flex flex-row justify-center w-full py-4">
        <div class="inline-flex items-center">
            <div class="text-3xl font-bold">
                Sélectionnez votre rôle
            </div>
        </div>
    </div>

<div class="flex flex-row justify-center w-full h-full py-4">
    <div class="flex w-full h-full px-2 justify-center items-center">
        <div onclick="location.href='{{ path('direct_waiter') }}'" class="flex justify-center items-center w-96 h-96 border-8 border-toukan rounded-2xl shadow-lg p-2 text-black mr-8">
            <div class="text-center">
                <i class="fa-solid text-9xl text-toukan fa-martini-glass-citrus"></i>
                <div class="text-3xl font-bold mt-4">Service</div>
            </div>
        </div>
        <div onclick="location.href='{{ path('direct_kitchen') }}'" class="flex justify-center items-center w-96 h-96 border-8 border-toukan rounded-2xl shadow-lg p-2 text-black mr-8">
            <div class="text-center">
                <i class="fa-solid text-9xl text-toukan fa-burger"></i>
                <div class="text-3xl font-bold mt-4">Préparation</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
