{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
    <h2 class="text-2xl font-bold">Compte</h2>
    <div id="establishment-information">
        {% include 'establishment/partials/_information.html.twig' with {'establishment' : establishment} %}
    </div>

    <p>Modifier mon mot de passe
        <button id="button-edit-password" type="button" class="transition duration-150 ease-in-out mt-3" data-bs-toggle="modal" data-bs-target="#modal-form-edit-password">
            <i class="fas fa-pen"></i>
        </button>
    </p>

    <div id="establishment-image">
        {% include 'establishment/partials/_image.html.twig' with {'establishment' : establishment} %}
    </div>
    <p>Ma couleur customisée <i class="fas fa-pen"></i></p>

    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-edit-establishment', 'modal_title' : 'Vos informations', 'context' : 'establishment-information-edit'} %}
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-edit-password', 'modal_title' : 'Modifier votre mot de passe', 'context' : 'establishment-password-edit'} %}
    {% include 'establishment/partials/_modal.html.twig' with {'modal_id' : 'modal-form-edit-image', 'modal_title' : 'Modifier votre image', 'context' : 'establishment-image-edit'} %}



{% endblock %}
