body {
    @apply font-base !important;
}

.text-base-app {
    font-size: 14px;
}

.text-base-back {
    font-size: 18px;
}

.title-etablissement-app {
    font-size: 48px;
    font-weight: bold;
}

.adress-etablissement-app {
    font-size: 24px;
}

.title-categorie-menu {
    font-size: 14px;
    font-weight: bold;
}

.title-categorie {
    font-size: 24px;
    font-weight: bold;
}

.text-div-orange {
    font-size: 10px;
}

.texte-panier {
    font-size: 16px;
}

.title-infos-produit {
    font-size: 20px;
    font-weight: bold;
}

.text-commentaire {
    font-size: 11px;
}

.text-price {
    font-size: 12px;
    font-weight: bold;
}