* {
  box-sizing: border-box;
}

@page {
  .page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
  }
}

*:has(> #qr-code-container) > *:not(#qr-code-container) {
  display: none;
}

.no-print {
  display: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#qr-code-container {
  display: block !important;
}

.page {
  break-after: page;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 1.5rem max-content 1.5rem max-content 1.5rem;
  grid-auto-flow: column;
  grid-gap: 1rem;

  canvas {
    width: 190px;
    height: 190px;
    justify-self: center;
    align-self: center;
  }

  p {
    text-align: center;
    margin-bottom: 2rem;
  }
}
