<turbo-frame id="frame-section-create-product">
    {% for message in app.flashes('success') %}
        <p class="text-green">{{ message }}</p>
    {% endfor %}
    {{ include('establishment/product/_form.html.twig') }}
</turbo-frame>

