{% for message in app.flashes('success') %}
    <p class="text-green">{{ message }}</p>
{% endfor %}
{% for message in app.flashes('error') %}
    <p class="text-red">{{ message }}</p>
{% endfor %}
{{ include('table/_form.html.twig') }}
