<p>Couleur customisée
    <button id="button-edit-info" type="button" class="transition duration-150 ease-in-out mt-3" data-bs-toggle="modal" data-bs-target="#modal-form-edit-color">
        <i class="fas fa-pen"></i>
    </button></p>
<div class="w-1/3 h-20" style="background-color: {{ establishment.customColor }}"></div>