<p>Mon illustration
    <button id="button-edit-info" type="button" class="transition duration-150 ease-in-out mt-3" data-bs-toggle="modal" data-bs-target="#modal-form-edit-image">
        <i class="fas fa-pen"></i>
    </button>
</p>
<img src="{{ asset('uploads/'~establishment.id~'/'~establishment.image) }}" alt="image de votre établissement">