<turbo-frame id="establishment-card">
        {% for section in card.sections %}
            <table>
                <tr>
                    {{ section.title }}
                </tr>
                <tr>
                    Ajouter un produit
                </tr>
                <tr>
                    Modifier
                </tr>
                <tr>
                    Supprimer
                </tr>
                <tbody>
                {% for product in section.products %}
                    <tr>
                        <td>
                            {{ product.title }}
                        </td>
                        <td>
                            Modifier
                        </td>
                        <td>
                            Supprimer
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
</turbo-frame>
