<div class="bg-red-200 text-red-600 p-4 flex flex-row justify-between">
    <p>
        <i class="fa-solid fa-circle-exclamation"></i>
        Vous n'avez pas activé votre abonnement Toukan, vos fonctionnalités sont restreintes.
    </p>
    <a class="underline" href="{{ path('app_subscription_pricing') }}">Voir les abonnements</a>
</div>