<table class="table">
    <thead>
    <tr>
        <th>Nom/N° Table</th>
        <th>Modifier</th>
        <th>Qr Code</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% for table in tables %}
        <tr>
            <td>{{ table.number }}</td>
            <td>
                <button type="button" onclick="set_frame_src({{ table.id }}, 'table_edit')" class="transition duration-150 ease-in-out admin-button-edit" data-bs-toggle="modal" data-bs-target="#modal-form-edit-table">
                    Modifier
                </button>
            </td>
            <td>
                <a href="">Imprimer QrCode</a>
            </td>
            <td>
                <a href="{{ path('app_table_delete', {'id' : table.id}) }}"><i class="fa-solid fa-trash fa-fw"></i> Supprimer</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucune table</td>
        </tr>
    {% endfor %}
    </tbody>
</table>