{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue sur votre profil FDP</h1>
    <p>Vous pouvez modifier vos informations personnelles ici</p>
    <a href="{{ path('app_establishment_portal') }}">Gérer mon abonnement</a>
{%endblock%}