<h1>Salutations ! Confirmez votre email.</h1>

<p>
    Veuillez confirmez votre email en cliquant ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmez votre email</a>.
    Ce lien s'expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>Merci !</p>

<p>L'équipe de Toukan</p>