{% extends 'base.html.twig' %}
{% block title %}Souscription validée{% endblock %}
{% block body %}
    <div class="flex flex-col items-center justify-center h-screen">
        <div class="w-full max-w-md">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <img src="{{ asset('assets/img/successful_checkout.png') }}" alt="image illustrant une erreur lors de la souscription" class="w-full">
                </div>
                <div class="mb-4">
                    <h1 class="text-center text-2xl font-bold w-full">Souscription validée</h1>
                    <p class="text-center text-gray-700 text-base my-4">Votre abonnement Toukan est enregistrée.</p>
                    <p class="text-center text-gray-700 text-base my-4">Votre période d'essai commence dès maintenant.</p>
                </div>
                <div class="flex items-center justify-between">
                    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 text-center w-full" href="{{ path('establishment_dashboard') }}">
                        <i class="fas fa-arrow-left"></i> Retour au tableau de bord
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}