{% extends 'base.html.twig' %}

{% block title %}Ma carte{% endblock %}

{% block body %}
    <h1 class="border-2 border-gray-300">Ma carte</h1>
    {% for section in card.sections %}
        <table>
            <tr>
                {{ section.title }}
            </tr>
            <tr>
                Ajouter un produit
            </tr>
            <tr>
                Modifier
            </tr>
            <tr>
                Supprimer
            </tr>
            <tbody>
            {% for product in section.products %}
                <tr>
                    <td>
                        {{ product.title }}
                    </td>
                    <td>
                        Modifier
                    </td>
                    <td>
                        Supprimer
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    <button id="button-add-section" class="admin-button-add">Ajouter une section</button>
    <turbo-frame id="form-add-section">

    </turbo-frame>
{#    <a href="{{ path('app_section_create') }}">Ajouter une section</a>#}
    <script>
        //onclick on button-add-section
        document.getElementById('button-add-section').onclick = function() {
            //set src attribute of trubo-frame
            document.getElementById('form-add-section').src = '{{ path('app_section_create', {'card' : card.id}) }}';
        }
    </script>
{% endblock %}

