{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue sur votre dashboard Enculé</h1>
    <p>Bah c'est un dashboard mais y'a rien encore zebi</p>
    <a href="{{ path('establishment_profile') }}">Accéder à mon profil</a>
{%endblock%}