<div id="product-card">
{% include('client/order/partials/edit_quantity.html.twig') with {'order':order, 'table':table,'establishment':establishment} %}
</div>
{{ form_start(form) }}
{{ form_end(form) }}